<div class="row">
    <div class="col-6">
        <h3 class="mt-3">@Competition.Home.ToString() (Home)</h3>
        <h4 class="mt-3">A</h4>
        <div class="input-group">
            <span class="input-group-text">License</span>
            <InputNumber class="form-control" Value="Competition.Home.Licenses[0].Id" ValueExpression="@(() => Competition.Home.Licenses[0].Id)" ValueChanged="@((int e) => HandleSelect(e,0))" placeholder="License" list="suggestions" />
            <span class="input-group-text">Name</span>
            <span class="form-control text-start">@Competition.Home.Licenses[0].FullName</span>
        </div>
        <div class="input-group">
            <span class="input-group-text">License</span>
            <InputNumber class="form-control" Value="Competition.Home.Licenses[1].Id" ValueExpression="@(() => Competition.Home.Licenses[1].Id)" ValueChanged="@((int e) => HandleSelect(e,1))" placeholder="License" list="suggestions" />
            <span class="input-group-text">Name</span>
            <span class="form-control text-start">@Competition.Home.Licenses[1].FullName</span>
        </div>
        <div class="input-group">
            <span class="input-group-text">License</span>
            <InputNumber class="form-control" Value="Competition.Home.Licenses[2].Id" ValueExpression="@(() => Competition.Home.Licenses[2].Id)" ValueChanged="@((int e) => HandleSelect(e,2))" placeholder="License" list="suggestions" />
            <span class="input-group-text">Name</span>
            <span class="form-control text-start">@Competition.Home.Licenses[2].FullName</span>
        </div>

        <h4 class="mt-3">B</h4>
        <div class="input-group">
            <span class="input-group-text">License</span>
            <InputNumber class="form-control" Value="Competition.Home.Licenses[3].Id" ValueExpression="@(() => Competition.Home.Licenses[3].Id)" ValueChanged="@((int e) => HandleSelect(e,3))" placeholder="License" list="suggestions" />
            <span class="input-group-text">Name</span>
            <span class="form-control text-start">@Competition.Home.Licenses[3].FullName</span>
        </div>
        <div class="input-group">
            <span class="input-group-text">License</span>
            <InputNumber class="form-control" Value="Competition.Home.Licenses[4].Id" ValueExpression="@(() => Competition.Home.Licenses[4].Id)" ValueChanged="@((int e) => HandleSelect(e,4))" placeholder="License" list="suggestions" />
            <span class="input-group-text">Name</span>
            <span class="form-control text-start">@Competition.Home.Licenses[4].FullName</span>
        </div>
        <div class="input-group">
            <span class="input-group-text">License</span>
            <InputNumber class="form-control" Value="Competition.Home.Licenses[5].Id" ValueExpression="@(() => Competition.Home.Licenses[5].Id)" ValueChanged="@((int e) => HandleSelect(e,5))" placeholder="License" list="suggestions" />
            <span class="input-group-text">Name</span>
            <span class="form-control text-start">@Competition.Home.Licenses[5].FullName</span>
        </div>

        <h4 class="mt-3">C</h4>
        <div class="input-group">
            <span class="input-group-text">License</span>
            <InputNumber class="form-control" Value="Competition.Home.Licenses[6].Id" ValueExpression="@(() => Competition.Home.Licenses[6].Id)" ValueChanged="@((int e) => HandleSelect(e,6))" placeholder="License" list="suggestions" />
            <span class="input-group-text">Name</span>
            <span class="form-control text-start">@Competition.Home.Licenses[6].FullName</span>
        </div>
        <div class="input-group">
            <span class="input-group-text">License</span>
            <InputNumber class="form-control" Value="Competition.Home.Licenses[7].Id" ValueExpression="@(() => Competition.Home.Licenses[7].Id)" ValueChanged="@((int e) => HandleSelect(e,7))" placeholder="License" list="suggestions" />
            <span class="input-group-text">Name</span>
            <span class="form-control text-start">@Competition.Home.Licenses[7].FullName</span>
        </div>
        <div class="input-group">
            <span class="input-group-text">License</span>
            <InputNumber class="form-control" Value="Competition.Home.Licenses[8].Id" ValueExpression="@(() => Competition.Home.Licenses[8].Id)" ValueChanged="@((int e) => HandleSelect(e,8))" placeholder="License" list="suggestions" />
            <span class="input-group-text">Name</span>
            <span class="form-control text-start">@Competition.Home.Licenses[8].FullName</span>
        </div>

        <datalist id="suggestions">

            @if (Licenses != null)
            {
                foreach (License lic in Licenses.Where(c => c.ClubId == Competition.Home.ClubId))
                {
                    <option value="@lic.Id" />
                    @*                         <option value="@lic.Id.ToString("D5")" />
            *@  }
            }
        </datalist>
    </div>
    <div class="col-6">
        <h3 class="mt-3">@Competition.Visitor.ToString() (Visitor)</h3>
        <h4 class="mt-3">D</h4>
        <div class="input-group">
            <span class="input-group-text">License</span>
            <InputNumber class="form-control" Value="Competition.Visitor.Licenses[0].Id" ValueExpression="@(() => Competition.Visitor.Licenses[0].Id)" ValueChanged="@((int e) => HandleSelect(e,0,true))" placeholder="License" list="suggestions" />
            <span class="input-group-text">Name</span>
            <span class="form-control text-start">@Competition.Visitor.Licenses[0].FullName</span>
        </div>
        <div class="input-group">
            <span class="input-group-text">License</span>
            <InputNumber class="form-control" Value="Competition.Visitor.Licenses[1].Id" ValueExpression="@(() => Competition.Visitor.Licenses[1].Id)" ValueChanged="@((int e) => HandleSelect(e,1,true))" placeholder="License" list="suggestions" />
            <span class="input-group-text">Name</span>
            <span class="form-control text-start">@Competition.Visitor.Licenses[1].FullName</span>
        </div>
        <div class="input-group">
            <span class="input-group-text">License</span>
            <InputNumber class="form-control" Value="Competition.Visitor.Licenses[2].Id" ValueExpression="@(() => Competition.Visitor.Licenses[2].Id)" ValueChanged="@((int e) => HandleSelect(e,2,true))" placeholder="License" list="suggestions" />
            <span class="input-group-text">Name</span>
            <span class="form-control text-start">@Competition.Visitor.Licenses[2].FullName</span>
        </div>

        <h4 class="mt-3">E</h4>
        <div class="input-group">
            <span class="input-group-text">License</span>
            <InputNumber class="form-control" Value="Competition.Visitor.Licenses[3].Id" ValueExpression="@(() => Competition.Visitor.Licenses[3].Id)" ValueChanged="@((int e) => HandleSelect(e,3,true))" placeholder="License" list="suggestions" />
            <span class="input-group-text">Name</span>
            <span class="form-control text-start">@Competition.Visitor.Licenses[3].FullName</span>
        </div>
        <div class="input-group">
            <span class="input-group-text">License</span>
            <InputNumber class="form-control" Value="Competition.Visitor.Licenses[4].Id" ValueExpression="@(() => Competition.Visitor.Licenses[4].Id)" ValueChanged="@((int e) => HandleSelect(e,4,true))" placeholder="License" list="suggestions" />
            <span class="input-group-text">Name</span>
            <span class="form-control text-start">@Competition.Visitor.Licenses[4].FullName</span>
        </div>
        <div class="input-group">
            <span class="input-group-text">License</span>
            <InputNumber class="form-control" Value="Competition.Visitor.Licenses[5].Id" ValueExpression="@(() => Competition.Visitor.Licenses[5].Id)" ValueChanged="@((int e) => HandleSelect(e,5,true))" placeholder="License" list="suggestions" />
            <span class="input-group-text">Name</span>
            <span class="form-control text-start">@Competition.Visitor.Licenses[5].FullName</span>
        </div>

        <h4 class="mt-3">F</h4>
        <div class="input-group">
            <span class="input-group-text">License</span>
            <InputNumber class="form-control" Value="Competition.Visitor.Licenses[6].Id" ValueExpression="@(() => Competition.Visitor.Licenses[6].Id)" ValueChanged="@((int e) => HandleSelect(e,6,true))" placeholder="License" list="suggestions" />
            <span class="input-group-text">Name</span>
            <span class="form-control text-start">@Competition.Visitor.Licenses[6].FullName</span>
        </div>
        <div class="input-group">
            <span class="input-group-text">License</span>
            <InputNumber class="form-control" Value="Competition.Visitor.Licenses[7].Id" ValueExpression="@(() => Competition.Visitor.Licenses[7].Id)" ValueChanged="@((int e) => HandleSelect(e,7,true))" placeholder="License" list="suggestions" />
            <span class="input-group-text">Name</span>
            <span class="form-control text-start">@Competition.Visitor.Licenses[7].FullName</span>
        </div>
        <div class="input-group">
            <span class="input-group-text">License</span>
            <InputNumber class="form-control" Value="Competition.Visitor.Licenses[8].Id" ValueExpression="@(() => Competition.Visitor.Licenses[8].Id)" ValueChanged="@((int e) => HandleSelect(e,8,true))" placeholder="License" list="suggestions" />
            <span class="input-group-text">Name</span>
            <span class="form-control text-start">@Competition.Visitor.Licenses[8].FullName</span>
        </div>

        <datalist id="suggestions">

            @if (Licenses != null)
            {
                foreach (License lic in Licenses.Where(c => c.ClubId == Competition.Home.ClubId))
                {
                    <option value="@lic.Id" />
                    @*                         <option value="@lic.Id.ToString("D5")" />
            *@  }
            }
        </datalist>
    </div>
</div>

@code {
    [Parameter] public Competition? Competition { get; set; }
    [Parameter] public IList<License>? Licenses { get; set; }
    [Parameter] public Action<Competition>? Next { get; set; }

    private void HandleSelect(int id, int pos, bool visitor = false)
    {

        if (visitor == false)
        {
            Competition.Home.Licenses[pos] = Licenses.FirstOrDefault(c => c.Id == id);
        }
        else
        {
            Competition.Visitor.Licenses[pos] = Licenses.FirstOrDefault(c => c.Id == id);
        }
    }
}
